<template>
  <div>
    <div class="top">

    </div>

    <div class="container">
      <div class="leftMenu">
        <a-menu
            mode="inline"
            style="width: 250px;"
            @select="onSelect"
            :default-selected-keys="selectKeys"
        >
          <a-sub-menu key="sub1">
            <span slot="title"><a-icon type="mail" /><span>巡检状况</span></span>
            <a-menu-item key="6">
              上传红外信息
            </a-menu-item>
            <a-menu-item key="1">
              红外文本
            </a-menu-item>
            <a-menu-item key="2">
              红外曲线图像
            </a-menu-item>
            <a-menu-item key="7">
              上传TEV信息
            </a-menu-item>
            <a-menu-item key="4">
              局放TEV图像
            </a-menu-item>
            <a-menu-item key="9">
              创建巡检工单
            </a-menu-item>
            <a-menu-item key="5">
              巡检工单审核状况
            </a-menu-item>
            <a-menu-item key="8">
              下载巡检图片
            </a-menu-item>
            <a-menu-item key="10">
              用户信息管理
            </a-menu-item>
            <a-menu-item key="11">
              设备信息管理
            </a-menu-item>
            <a-menu-item key="16">
              创建工单钉钉预警群
            </a-menu-item>
            <a-menu-item key="12">
              工单钉钉预警群信息
            </a-menu-item>
            <a-menu-item key="13">
              发送钉钉预警
            </a-menu-item>
            <a-menu-item key="14">
              钉钉预警记录
            </a-menu-item>
          </a-sub-menu>
        </a-menu>
      </div>

      <div class="rightContent">
        <div class="view">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import router from "@/components/router";

export default {
  name: "FrontPage",

  data() {
    return {
      selectKeys : ['1']
    }
  },

  created() {
    // 从localStorage中读取选中的菜单项
    this.selectKeys = JSON.parse(localStorage.getItem('selectKeys')) || [];
    console.log(this.selectKeys);
  },

  methods: {

    onSelect(info) {
      console.log(info.key)
      this.selectKeys = [info.key] // 更新选中的菜单项
      localStorage.setItem('selectKeys', JSON.stringify(this.selectKeys)); // 将选中的菜单项保存到localStorage中
      console.log(this.selectKeys);
      if (info.key == 1) {
        router.push({ name: 'detailInfo' })
      } else if (info.key == 2) {
        router.push({ name: 'curveInfo' })
      } else if (info.key == 4) {
        router.push({ name: 'tevImageInfo' })
      } else if (info.key == 5) {
        router.push({ name: 'workOrder' })
      } else if (info.key == 6) {
        router.push({ name: 'uploadData' })
      } else if (info.key == 7) {
        router.push({ name: 'tevData' })
      } else if (info.key == 8) {
        router.push({ name: 'downloadPhoto' })
      } else if (info.key == 9) {
        router.push({ name: 'createWorkOrder' })
      } else if (info.key == 10) {
        router.push({ name: 'userInfo' })
      } else if (info.key == 11) {
        router.push({ name: 'deviceInfo' })
      } else if (info.key == 12) {
        router.push({ name: 'messageWarning' })
      } else if (info.key == 16) {
        router.push({ name: 'addGroup' })
      } else if (info.key == 13) {
        router.push({ name: 'sendWarning' })
      }  else if (info.key == 14) {
        router.push({ name: 'warningRecord' })
      }
    }
  }

}
</script>

<style scoped>
/* 页面最上面的区域 */
.top {
  height: 50px;
  width: 100%;
  background-color: #1890ff;
}

.container {
  display: flex;
  height: 100vh; /* 设置容器高度为视口高度 */
}

.leftMenu {
  width: 250px;
}

.rightContent {
  flex: 1;
  background-color: #f5f5f5;
  padding: 10px;
  /*overflow-y: auto; !* 添加滚动条以处理内容溢出 *!*/
}
.rightContent .view {
  flex: 1;
}

</style>