<template>
  <div class="background">
    <div class="content">
      <div class="image-container">
        <img src="@/assets/svg/ele.svg" alt="Ele Icon" />
      </div>
      <div class="form">
        <a-form
            id="components-form-demo-normal-login"
            :form="form"
            class="login-form"
            @submit="handleSubmit"
        >
          <a-form-item label="用户名">
            <a-input
                v-decorator="[
          'userName',
          { rules: [{ required: true, message: 'Please input your username!' }] },
        ]"
                placeholder="Username"
            >
              <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-item>
          <a-form-item label="密码">
            <a-input
                v-decorator="[
          'password',
          { rules: [{ required: true, message: 'Please input your Password!' }] },
        ]"
                type="password"
                placeholder="Password"
            >
              <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button type="primary" html-type="submit" class="login-form-button">
              登录
            </a-button>
          </a-form-item>
        </a-form>
      </div>

    </div>
  </div>

</template>

<script>
import {postForm} from "@/components/api/action";
import router from "@/components/router";
export default {
  name: "UserLogin",

  data() {
    return {
      form: this.$form.createForm(this),
      url: {
        login: "/login"
      }
    }
  },

  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          postForm(this.url.login, values).then(res => {
            console.log(res)
            if (res.data.code != 0) {
              this.$message.error(res.data.msg)
            } else {
              this.$message.success("success")
              router.push({ name: 'front' });
            }
          })
        }
      });
    },
  },

}
</script>

<style scoped>
.background {
  background-color: #f5f5f5; /* 灰色背景颜色 */
  height: 100vh; /* 设置高度以填充整个视口 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.content {
  background-color: #fff; /* 白色背景颜色 */
  width: 800px;
  padding: 100px 100px;
}
.content .image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#components-form-demo-normal-login .login-form-button {
  width: 600px;
}
</style>