<template>
  <a-card title="新建钉钉群组">
    <div class="centered-container">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleOk" class="form-container">
        <a-form-item label="钉钉群名称">
          <a-input
              v-decorator="['messageName', { rules: [{ required: true, message: '钉钉群名称不能为空!' }] }]"
              placeholder="请输入用户名称"
          />
        </a-form-item>

        <a-form-item label="钉钉群备注">
          <a-input
              v-decorator="['messageMemo', { rules: [{ required: true, message: '钉钉群备注不能为空!' }] }]"
              placeholder="请输入工作负责人"
          />
        </a-form-item>

        <a-form-item label="钉钉群路径">
          <a-input
              v-decorator="['messageUrl', { rules: [{ required: true, message: '钉钉群路径不能为空!' }] }]"
              placeholder="请输入设备名称"
          />
        </a-form-item>


        <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
          <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
            提交
          </a-button>
        </a-form-item>

      </a-form>

    </div>

    <template slot="footer">
      <a-button key="back" @click="handleCancel">
        取消
      </a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
        提交
      </a-button>
    </template>
  </a-card>
</template>

<script>
import moment from "moment";
import {postAction} from "@/components/api/action";

export default {
  name: "AddDingGroup",

  data() {
    return {
      loading: false,
      form: this.$form.createForm(this),
      formLayout: 'horizontal',
      url: {
        add: "messageWarning/add",
      }
    }
  },

  methods: {
    handleOk(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        postAction(this.url.add, values).then(res => {
          if (res.data.code == 0) {
            this.$message.success('success')
          } else {
            this.$message.error(res.data.msg)
          }
        })
        .catch(e => this.$message.error(e))
        .finally(() => {
          this.form.resetFields()
        })
      });
    },

    handleCancel() {
      this.form.resetFields()
    }
  },

}
</script>

<style scoped>

</style>