<template>
  <a-modal
      :visible="visible"
      title="选择钉钉群"
      width="70%"
      @cancel="handleCancel"
  >

    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
        :rowKey="record => record.messageWarningId"
        border
        size="middle"
        @change="handleTableChange"
    >
    </a-table>

    <template slot="footer">
      <a-button key="back" @click="handleCancel">
        取消
      </a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="handleOk" :disabled="!hasSelected">
        提交
      </a-button>
    </template>

  </a-modal>
</template>

<script>
import moment from "moment";
import {postAction} from "@/components/api/action";

export default {
  name: "SelectDingGroupModal",

  data() {
    return {
      selectedRowKeys: [],
      visible: false,
      record: {},
      queryParam: {},
      loading: false,
      datasource: [],
      columns: [
        {
          title: "钉钉群名称",
          dataIndex: "messageName",
          align: "center"
        },
        {
          title: "钉钉群URL",
          dataIndex: "messageUrl",
          align: "center",
          width: "40%",
        },
        {
          title: "钉钉群备注",
          dataIndex: "messageMemo",
          align: "center"
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "更新时间",
          dataIndex: "updateTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
      ],
      pagination : {
        current : 1,
        pageSize : 10,
        total : 0,
        showTotal: (total, range) => {
          return range[0] + "-" + range[1] + '总共' + total + '条';
        },
      },
      url: {
        pageVo: "messageWarning/pageVo",
        send: "messageWarningRecord/send"
      }
    }
  },

  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },

  methods: {

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },

    searchQuery() {
      this.loading = true
      this.queryParam.current = this.pagination.current
      this.queryParam.pageSize = this.pagination.pageSize
      console.log(JSON.stringify(this.queryParam))
      postAction(this.url.pageVo, JSON.stringify(this.queryParam))
          .then(res => {
            this.datasource = res.data.data.records
            this.pagination.total = res.data.data.total
          })
          .catch(e => this.$message.error(e))
          .finally(() => {
            this.loading = false
          })
    },

    handleOk() {
      let messageWarningRecordVo = {}
      messageWarningRecordVo.messageWarningId = this.selectedRowKeys[0]
      messageWarningRecordVo.messageBizId = this.record.detailId
      messageWarningRecordVo.messageType = this.record.type
      postAction(this.url.send, JSON.stringify(messageWarningRecordVo))
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success("发送成功")
            } else {
              this.$message.error(res.data.msg)
            }
          })
          .finally(() => {
            this.handleCancel()
          })
    },

    handleCancel() {
      this.visible = false
      this.selectedRowKeys = []
    },

    handleTableChange(page) {
      console.log(page)
      this.pagination.current = page.current
      this.searchQuery()
    },

  },
}
</script>

<style scoped>

</style>