<template>
<!--  <a-modal-->
<!--      :visible="visible"-->
<!--      width="60%"-->
<!--      height="400px"-->
<!--      title="上传数据"-->
<!--      @cancel="handleCancel"-->
<!--  >-->
  <a-card title="上传红外信息">
    <div class="centered-container">
      <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleOk" class="form-container">
        <a-form-item label="用户名称">
          <a-input
              v-decorator="['username', { rules: [{ required: true, message: '用户名称不能为空!' }] }]"
              placeholder="请输入用户名称"
          />
        </a-form-item>

        <a-form-item label="工作负责人">
          <a-input
              v-decorator="['workLeaderName', { rules: [{ required: true, message: '工作负责人名称不能为空!' }] }]"
              placeholder="请输入工作负责人"
          />
        </a-form-item>

        <a-form-item label="设备名称">
          <a-input
              v-decorator="['device.deviceName', { rules: [{ required: true, message: '设备名称不能为空!' }] }]"
              placeholder="请输入设备名称"
          />
        </a-form-item>

        <a-form-item label="供电局/区局">
          <a-input
              v-decorator="['powerSupplyStation', { rules: [{ required: true, message: '供电局/区局名称不能为空!' }] }]"
              placeholder="请输入供电局/区局名称"
          />
        </a-form-item>

        <a-form-item label="变电站名称">
          <a-input
              v-decorator="['substationName', { rules: [{ required: true, message: '变电站名称不能为空!' }] }]"
              placeholder="请输入变电站名称"
          />
        </a-form-item>

        <a-form-item label="配电房名称">
          <a-input
              v-decorator="['distributionRoomName', { rules: [{ required: true, message: '配电房名称不能为空!' }] }]"
              placeholder="请输入配电房名称"
          />
        </a-form-item>

        <a-form-item label="设备类型">
          <a-select
              v-decorator="[
          'device.deviceType',
          { rules: [{ required: true, message: '设备类型不能为空!' }] },
        ]"
              placeholder="请选择设备类型"
          >
            <a-select-option value="0">
              开关柜
            </a-select-option>
            <a-select-option value="1">
              变压器
            </a-select-option>
            <a-select-option value="2">
              电缆
            </a-select-option>
            <a-select-option value="3">
              其他
            </a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="巡检班组">
          <a-input
              v-decorator="['inspectionTeam', { rules: [{ required: true, message: '巡检班组名称不能为空!' }] }]"
              placeholder="请输入巡检班组"
          />
        </a-form-item>

        <a-form-item label="环境温度">
          <a-input
              v-decorator="['ambientTemp', { rules: [{ required: true, message: '环境温度不能为空!' }] }]"
              placeholder="请输入环境温度"
          />
        </a-form-item>

        <a-form-item label="相对湿度">
          <a-input
              v-decorator="['relativeHumidity', { rules: [{ required: true, message: '相对湿度不能为空!' }] }]"
              placeholder="请输入相对湿度"
          />
        </a-form-item>

        <a-form-item label="中心湿度">
          <a-input
              v-decorator="['centralHumidity', { rules: [{ required: true, message: '中心湿度不能为空!' }] }]"
              placeholder="请输入中心湿度"
          />
        </a-form-item>

        <a-form-item label="最大温度">
          <a-input
              v-decorator="['maxTemp', { rules: [{ required: true, message: '最大温度不能为空!' }] }]"
              placeholder="请输入最大温度"
          />
        </a-form-item>

        <a-form-item label="最低温度">
          <a-input
              v-decorator="['minTemp', { rules: [{ required: true, message: '最低温度不能为空!' }] }]"
              placeholder="请输入最低温度"
          />
        </a-form-item>

        <a-form-item label="平均温度">
          <a-input
              v-decorator="['avgTemp', { rules: [{ required: true, message: '平均温度不能为空!' }] }]"
              placeholder="请输入平均温度"
          />
        </a-form-item>

        <a-form-item label="反射温度">
          <a-input
              v-decorator="['reflectedTemp', { rules: [{ required: true, message: '反射温度不能为空!' }, { type: 'number', transform: value => Number(value), message: '温度应该为数字类型!' }] }]"
              placeholder="请输入反射温度"
          />
        </a-form-item>

        <a-form-item label="馈线">
          <a-input
              v-decorator="['feeder', { rules: [{ required: true, message: '馈线长度不能为空!' }] }]"
              placeholder="请输入馈线长度"
          />
        </a-form-item>

        <a-form-item label="采集时间">
          <a-date-picker
              v-decorator="['createTime', { rules: [{ type: 'object', required: true, message: '采集时间不能为空!' }],}]"
              show-time
              format="YYYY-MM-DD HH:mm:ss"
          />
        </a-form-item>

        <a-form-item label="Upload" extra="只支持JPG、PNG图片格式">
          <a-upload
              :before-upload="beforeUpload"
              :custom-request="customRequest"
              :file-list="fileList"
              action="detail/upload"
              :remove="(file) => handleRemove(file)"
          >
            <a-button> <a-icon type="upload" /> Click to upload </a-button>
          </a-upload>
        </a-form-item>

        <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
          <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
            提交
          </a-button>
        </a-form-item>

      </a-form>

    </div>

    <template slot="footer">
      <a-button key="back" @click="handleCancel">
        取消
      </a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
        提交
      </a-button>
    </template>
  </a-card>


</template>

<script>


import axios from "axios";
import {postAction, postFile} from "@/components/api/action";
import moment from "moment";

export default {
  name: "UploadDataModal",

  data() {
    return {
      fileList: [],
      visible: false,
      loading: false,
      uploadInfo : {
        imageId : ''
      },
      form: this.$form.createForm(this),
      formLayout: 'horizontal',
      url: {
        removeRecord: "image/remove",
        saveRecord: "detail/save"
      }
    }
  },

  methods : {
    handleRemove() {
      this.fileList = []
      postAction(this.url.removeRecord, this.uploadInfo).catch(e => this.$message.error(e))
      this.uploadInfo = {}
    },

    customRequest(options) {
      console.log(options);

      // 构建请求参数
      const formData = new FormData();
      formData.append('files', options.file)

      // Send the request to the server
      postFile(options.action, formData).then(res => {
        if (res.data.code == 0) {
          let info = (res.data.data)[0]
          this.uploadInfo = info
          console.log(info);
          this.fileList.push({
            uid : info.imageId,
            name : info.fileName,
            status : 'done',
            url : info.previewUrl
          })
        } else {
          this.fileList.push({
            uid : '2',
            name : options.file.fileName,
            status : 'error',
          })
        }
      })
    },

    beforeUpload(file) {
      if (this.fileList.length == 1) {
        this.$message.error('只能上传一张图片!')
        return false
      }
      const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
      if (!isJpgOrPng) {
        this.$message.error('只能上传 JPG 或 PNG 图片格式!')
      }
      return isJpgOrPng
    },

    handleOk(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err && this.fileList.length != 0) {
          values.imageId = this.uploadInfo.imageId
          values.createTime = moment(values.createTime).format('YYYY-MM-DD HH:mm:ss')
          console.log('Received values of form: ', values)
          postAction(this.url.saveRecord, values).then(res => {
            if (res.data.code == 0) {
              this.$message.success('success')
              this.$emit('refreshData')
            } else {
              this.$message.error(res.data.msg)
              this.handleRemove()
            }
          })
          .catch(e => this.$message.error(e))
          .finally(() => {
            this.visible = false
            this.form.resetFields()
            this.uploadInfo = {}
            this.fileList = []
          })
        } else {
          this.$message.error('存在未上传的数据!')
        }
      });
    },

    handleCancel() {
      this.visible = false
      this.form.resetFields()
      if (this.uploadInfo) {
        this.handleRemove()
      }
    }
  }
}
</script>

<style scoped>
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 80%; /* Set your desired width */
}
</style>