<template>
  <a-modal
      :visible="visible"
      width="80%"
      height="400px"
      title="工单详情"
      @cancel="handleCancel"
      :footer="null"
  >
    <div>

      <a-timeline>
        <a-timeline-item>
          <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px;" />
          <span>工单创建时间：{{ record.createTime }}</span>
        </a-timeline-item>

        <a-timeline-item>
          <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px;" />
          <span>工单审核时间：{{ record.reviewTime }}</span>
          <span v-if="!record.reviewTime" style="margin-left: 20px;">
            <a-button
                type="primary"
                @click="updateStatus(3)"
                icon="search"
            >
              审核通过
            </a-button>
            <span style="margin-left: 20px"></span>
            <a-button
                type="danger"
                @click="updateStatus(4)"
                icon="search"
            >
              审核不通过
            </a-button>
          </span>

        </a-timeline-item>

        <a-timeline-item color="green">
          <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px;" />
          <span>工单审核通过时间：{{ record.completeTime ? record.completeTime : "-"}}</span>
        </a-timeline-item>

        <a-timeline-item color="red" v-if="record.failTime">
          <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px;" />
          <span>工单审核不通过时间：{{ record.failTime }}</span>
        </a-timeline-item>

      </a-timeline>

    </div>

    <a-table
        v-if="record.type == 1"
        bordered
        :loading="loading"
        :columns="detailColumns"
        :data-source="dataSource"
    >
      <template #showImage="text,record">
        <div>
          <a-tooltip>
            <template #title>
              <span>点击预览</span>
            </template>
            <!-- 使用 img 标签来显示图片 -->
            <img
                @click="openImage(record.previewUrl)"
                :src="record.previewUrl"
                shape="square"
                style="width: 30px; height: 30px;"
            >
          </a-tooltip>
        </div>
      </template>
    </a-table>

    <a-table
        v-if="record.type == 2"
        bordered
        :loading="loading"
        :columns="tevColumns"
        :data-source="dataSource"
    >
      <template #showImage="text,record">
        <div>
          <a-tooltip>
            <template #title>
              <span>点击预览</span>
            </template>
            <!-- 使用 img 标签来显示图片 -->
            <img
                @click="openImage(record.previewUrl)"
                :src="record.previewUrl"
                shape="square"
                style="width: 30px; height: 30px;"
            >
          </a-tooltip>
        </div>
      </template>
    </a-table>

    <a-modal :visible="previewVisible" :footer="null" @cancel="imageCancel" width="50%">
      <img :src="previewUrl" alt="example" style="width: 100%">
    </a-modal>

  </a-modal>
</template>

<script>
import {postAction} from "@/components/api/action";
import moment from "moment";

export default {
  name: "WorkOrderModal",

  data() {
    return {
      previewVisible : false,
      previewUrl : '',
      loading : false,
      detailColumns : [
        {
          title: "业务ID",
          dataIndex: "detailId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "reviewName",
          align: "center"
        },
        {
          title: "区局/供电局",
          dataIndex: "bizObj.powerSupplyStation",
          align: "center"
        },
        {
          title: "变电站名称",
          dataIndex: "bizObj.substationName",
          align: "center"
        },
        {
          title: "馈线长度",
          dataIndex: "bizObj.feeder",
          align: "center"
        },
        {
          title: "配电房名称",
          dataIndex: "bizObj.distributionRoomName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "巡检班组",
          dataIndex: "bizObj.inspectionTeam",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备名称",
          dataIndex: "device.deviceName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备类型",
          dataIndex: "device.deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = ''
            }
            return result
          }
        },
        {
          title: "环境温度",
          dataIndex: "bizObj.ambientTemp",
          align: "center"
        },
        {
          title: "相对温度",
          dataIndex: "bizObj.relativeHumidity",
          align: "center"
        },
        {
          title: "中心温度",
          dataIndex: "bizObj.centralHumidity",
          align: "center"
        },
        {
          title: "最大温度",
          dataIndex: "bizObj.maxTemp",
          align: "center",
        },
        {
          title: "最小温度",
          dataIndex: "bizObj.minTemp",
          align: "center",
        },
        {
          title: "平均温度",
          dataIndex: "bizObj.avgTemp",
          align: "center"
        },
        {
          title: "反射温度",
          dataIndex: "bizObj.reflectedTemp",
          align: "center",
        },
        {
          title: "采集时间",
          dataIndex: "bizObj.createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "图像",
          dataIndex: "image",
          align: "center",
          scopedSlots: {customRender : "showImage"}
        },
      ],
      tevColumns : [
        {
          title: "业务ID",
          dataIndex: "bizObj.tevId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "reviewName",
          align: "center"
        },
        {
          title: "设备名称",
          dataIndex: "device.deviceName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备类型",
          dataIndex: "device.deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "极性",
          dataIndex: "bizObj.polarity",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 1) {
              result = '正极性'
            } else if (text == 0) {
              result = '负极性'
            } else {
              result = ''
            }
            return result
          }
        },
        {
          title: "频率",
          dataIndex: "bizObj.repetitionRate",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "局部TEV有效值",
          dataIndex: "bizObj.quasiPeakValue",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "局部TEV最大值",
          dataIndex: "bizObj.maxValue",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "局部TEV最小值",
          dataIndex: "bizObj.minValue",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "TEV采集时间",
          dataIndex: "bizObj.occurrenceTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "图像",
          dataIndex: "image",
          align: "center",
          scopedSlots: {customRender : "showImage"}
        },
      ],
      dataSource: [],
      url: {
        detail: "workOrder/detail",
        updateStatus: "workOrder/review"
      },
      visible: false,
      record: {},
    }
  },

  methods: {
    imageCancel() {
      this.previewVisible = false
    },

    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    updateStatus(status) {
      console.log('@@@ updateStatus', status)
      this.record.status = status
      postAction(this.url.updateStatus, this.record)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('审核成功')
            }
          })
          .finally(() => {
            this.detailInfo()
          })
    },

    detailInfo() {
      this.dataSource = []
      this.loading = true
      postAction(this.url.detail, this.record)
          .then(res => {
            if (res.data.data) {
              this.record = res.data.data
              this.dataSource.push(this.record)
            }
          })
          .finally(() => {
            this.loading = false
          })
    },

    handleCancel() {
      this.visible = false
      this.dataSource = []
      this.record = {}
      this.$emit('refreshData')
    }
  }
}
</script>

<style scoped>
</style>