<template>
  <a-card>
    <a-tabs :default-active-key="key" @change="changeActive">
      <a-tab-pane key="1" tab="红外图像数据下载">
        <div>
          <a-card style="height: 100vh;">
            <a-row :gutter="16">

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">业务ID：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入业务ID"
                        v-model="queryParam.detailId"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">账号名称：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入账号名称"
                        v-model="queryParam.username"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">设备类型：</div>
                  <div class="input">
                    <a-select
                        placeholder="请选择设备类型"
                        v-model="queryParam.device.deviceType"
                        style="width: 100%"
                    >
                      <a-select-option :value="0">开关柜</a-select-option>
                      <a-select-option :value="1">变压器</a-select-option>
                      <a-select-option :value="2">电缆</a-select-option>
                      <a-select-option :value="3">其他</a-select-option>
                    </a-select>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">区局/供电所：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入区局供电所"
                        v-model="queryParam.powerSupplyStation"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>
            </a-row>

            <a-row :gutter="16">
              <a-col :span="6">
                <div class="input-group">
                  <div class="label">变电站名称：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入变电站名称"
                        v-model="queryParam.substationName"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">馈线长度：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入馈线长度"
                        v-model="queryParam.feeder"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">工作负责人：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入工作负责人"
                        v-model="queryParam.workLeaderName"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">巡检班组：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入巡检班组"
                        v-model="queryParam.inspectionTeam"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>
            </a-row>

            <a-row :gutter="16">
              <a-col :span="6">
                <div class="input-group">
                  <div class="label">设备名称：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入设备名称"
                        v-model="queryParam.device.deviceName"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">配电房名称：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入配电房名称"
                        v-model="queryParam.distributionRoomName"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">最大温度：</div>
                  <div class="input">
                    <a-input
                        placeholder="请输入最大温度"
                        v-model="queryParam.maxTemp"
                        @keyup.enter.native="searchQuery"
                    ></a-input>
                  </div>
                </div>
              </a-col>

              <a-col :span="6">
                <div class="input-group">
                  <div class="label">采集时间：</div>
                  <div class="input">
                    <a-range-picker
                        format="YYYY-MM-DD HH:mm:ss"
                        v-model="queryParam.dateRange"
                        style="width: 100%"
                    />
                  </div>
                </div>
              </a-col>
            </a-row>

            <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
              <a-col :span="6">
                <div class="input-group">
                  <a-button
                      type="primary"
                      @click="searchQuery"
                      icon="search"
                  >
                    查询
                  </a-button>

                  <a-button
                      type="primary"
                      @click="searchReset"
                      icon="reload"
                      style="margin-left: 8px"
                  >
                    重置
                  </a-button>

                </div>
              </a-col>

            </a-row>

            <div style="margin-bottom: 16px">
              <a-popconfirm ok-text="Yes" cancel-text="No" @confirm="detailCreateWorkOrder">
                <template slot="title">
                  <span>Are You Sure Create Work Order?</span>
                </template>
                <a-button
                    type="primary"
                    icon="upload"
                    :disabled="!hasSelected"
                    style="margin-left: 8px"
                >
                  创建工单
                </a-button>
              </a-popconfirm>
            </div>

            <a-table
                :columns="columns"
                :data-source="datasource"
                :loading="loading"
                :pagination="pagination"
                :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
                :rowKey="record => record.image.imageId.toString()"
                border
                size="middle"
                @change="handleTableChange"
            >
              <template #showImage="text,record">
                <div>
                  <a-tooltip>
                    <template #title>
                      <span>点击预览</span>
                    </template>
                    <!-- 使用 img 标签来显示图片 -->
                    <img
                        @click="openImage(record.previewUrl)"
                        :src="record.previewUrl"
                        shape="square"
                        style="width: 30px; height: 30px;"
                    >
                  </a-tooltip>
                </div>
              </template>
            </a-table>
          </a-card>

          <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
            <img :src="previewUrl" alt="example" style="width: 100%">
          </a-modal>
        </div>
      </a-tab-pane>

      <a-tab-pane key="2" tab="Tev数据下载">
        <a-card title="曲线信息" style="height: 100vh;">
          <a-row :gutter="16">

            <a-col :span="6">
              <div class="input-group">
                <div class="label">业务ID：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入设备ID"
                      v-model="tevQueryParam.tevId"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">账号名称：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入账号名称"
                      v-model="tevQueryParam.user.username"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">工作负责人：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入工作负责人"
                      v-model="tevQueryParam.workLeader.username"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">设备类型：</div>
                <div class="input">
                  <a-select
                      placeholder="请选择设备类型"
                      v-model="tevQueryParam.device.deviceType"
                      style="width: 100%"
                  >
                    <a-select-option :value="0">开关柜</a-select-option>
                    <a-select-option :value="1">变压器</a-select-option>
                    <a-select-option :value="2">电缆</a-select-option>
                    <a-select-option :value="3">其他</a-select-option>
                  </a-select>
                </div>
              </div>
            </a-col>

          </a-row>

          <a-row :gutter="16">
            <a-col :span="6">
              <div class="input-group">
                <div class="label">设备名称：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入设备名称"
                      v-model="tevQueryParam.device.deviceName"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">TEV有效值：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入TEV有效值"
                      v-model="tevQueryParam.quasiPeakValue"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">TEV最大值：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入TEV最大值"
                      v-model="tevQueryParam.maxValue"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">TEV最小值：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入TEV最小值"
                      v-model="tevQueryParam.minValue"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

          </a-row>

          <a-row :gutter="16">

            <a-col :span="6">
              <div class="input-group">
                <div class="label">极性：</div>
                <div class="input">
                  <a-select
                      placeholder="请选择极性"
                      v-model="tevQueryParam.polarity"
                      style="width: 100%"
                  >
                    <a-select-option :value="0">负极性</a-select-option>
                    <a-select-option :value="1">正极性</a-select-option>
                  </a-select>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">TEV频率：</div>
                <div class="input">
                  <a-input
                      placeholder="请输入TEV频率"
                      v-model="tevQueryParam.repetitionRate"
                      @keyup.enter.native="loadData"
                  ></a-input>
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">创建时间：</div>
                <div class="input">
                  <a-range-picker
                      format="YYYY-MM-DD HH:mm:ss"
                      v-model="tevQueryParam.dateRange"
                      style="width: 100%"
                  />
                </div>
              </div>
            </a-col>

            <a-col :span="6">
              <div class="input-group">
                <div class="label">采集时间：</div>
                <div class="input">
                  <a-range-picker
                      format="YYYY-MM-DD HH:mm:ss"
                      v-model="tevQueryParam.occurrenceTimeRange"
                      style="width: 100%"
                  />
                </div>
              </div>
            </a-col>

          </a-row>

          <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
            <a-col :span="6">
              <div class="input-group">
                <a-button
                    type="primary"
                    @click="loadData"
                    icon="search"
                >
                  查询
                </a-button>

                <a-button
                    type="primary"
                    @click="loadReset"
                    icon="reload"
                    style="margin-left: 8px"
                >
                  重置
                </a-button>

              </div>
            </a-col>

          </a-row>

          <div style="margin-bottom: 16px">
            <a-popconfirm ok-text="Yes" cancel-text="No" @confirm="tevCreateWorkOrder">
              <template slot="title">
                <span>Are You Sure Create Work Order?</span>
              </template>
              <a-button
                  type="primary"
                  icon="upload"
                  :disabled="!hasSelected"
                  style="margin-left: 8px"
              >
                创建工单
              </a-button>
            </a-popconfirm>
          </div>


          <div>
            <a-table
                :columns="tevColumns"
                :data-source="datasource"
                :loading="loading"
                :pagination="pagination"
                :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
                :rowKey="record => record.image.imageId.toString()"
                border
                size="middle"
                @change="handleTableChange"
            >
              <template #showImage="text,record">
                <div>
                  <a-tooltip>
                    <template #title>
                      <span>点击预览</span>
                    </template>
                    <!-- 使用 img 标签来显示图片 -->
                    <img
                        @click="openImage(record.previewUrl)"
                        :src="record.previewUrl"
                        shape="square"
                        style="width: 30px; height: 30px;"
                    >
                  </a-tooltip>
                </div>
              </template>
            </a-table>

          </div>

          <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
            <img :src="previewUrl" alt="example" style="width: 100%">
          </a-modal>

        </a-card>
      </a-tab-pane>
    </a-tabs>
  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";
import {downloadFile, postAction} from "@/components/api/action";

export default {
  name: "CreateWorkOrder",

  mixins: [PubMixins],

  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },

  data() {
    return {
      key: '1',
      tevQueryParam: {
        device: {},
        user: {},
        workLeader: {}
      },
      selectedRowKeys: [],
      fileNameList: [],
      previewVisible : false,
      previewUrl : '',
      loading : false,
      queryParam: {
        device: {},
        user: {},
        workLeader: {}
      },
      datasource : [],
      pagination : {
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: (total, range) => {
          return range[0] + "-" + range[1] + '总共' + total + '条';
        },
      },
      tevColumns : [
        {
          title: "业务ID",
          dataIndex: "tevId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "user.username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeader.username",
          align: "center"
        },
        {
          title: "设备名称",
          dataIndex: "device.deviceName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备类型",
          dataIndex: "device.deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "极性",
          dataIndex: "polarity",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 1) {
              result = '正极性'
            } else if (text == 0) {
              result = '负极性'
            } else {
              result = ''
            }
            return result
          }
        },
        {
          title: "频率",
          dataIndex: "repetitionRate",
          align: "center",
          customRender: (res) => {
            return res ? res + "Hz" : "-"
          }
        },
        {
          title: "局部TEV有效值",
          dataIndex: "quasiPeakValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "局部TEV最大值",
          dataIndex: "maxValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "局部TEV最小值",
          dataIndex: "minValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "TEV采集时间",
          dataIndex: "occurrenceTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "图像",
          dataIndex: "image",
          align: "center",
          scopedSlots: {customRender : "showImage"}
        },
      ],
      columns : [
        {
          title: "业务ID",
          dataIndex: "detailId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeaderName",
          align: "center"
        },
        {
          title: "馈线",
          dataIndex: "feeder",
          align: "center",
          customRender: (res) => {
            return res ? res + "号线" : "-"
          }
        },
        {
          title: "环境温度",
          dataIndex: "ambientTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "相对湿度",
          dataIndex: "relativeHumidity",
          align: "center",
          customRender: (res) => {
            return res ? res + "%" : "-"
          }
        },
        {
          title: "中心湿度",
          dataIndex: "centralHumidity",
          align: "center",
          customRender: (res) => {
            return res ? res + "%" : "-"
          }
        },
        {
          title: "最大温度",
          dataIndex: "maxTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "最小温度",
          dataIndex: "minTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "平均温度",
          dataIndex: "avgTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "反射温度",
          dataIndex: "reflectedTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "采集时间",
          dataIndex: "createTime",
          align: "center",
        },
        {
          title: "采集图片",
          dataIndex: "image.imageId",
          align: "center",
          scopedSlots : {customRender : "showImage"}
        },
      ],
      url : {
        pageVo : "/detail/pageVo",
        downloadFile : "detail/downloadFile",
        detailPageVo : "/detail/pageVo",
        tevPageVo: "/tev/pageVo",
        create: "workOrder/create"
      }
    }
  },

  methods: {

    detailCreateWorkOrder() {
      console.log('@@@ Image createWorkOrder', this.selectedRowKeys)
      let param = {}
      let imageId = this.selectedRowKeys[0]
      let record = this.datasource.filter(item => item.image.imageId === imageId)[0]
      console.log('@@@ record', record);
      param.detailId = record.detailId
      param.type = 1
      param.username = record.username
      param.reviewName = record.workLeaderName
      postAction(this.url.create, param)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('创建工单成功')
            } else {
              this.$message.error(res.data.msg)
            }
          })
          .finally(() => {
            this.searchQuery()
          })
    },

    tevCreateWorkOrder() {
      console.log('@@@ createWorkOrder', this.selectedRowKeys)
      let param = {}
      let imageId = this.selectedRowKeys[0]
      let record = this.datasource.filter(item => item.image.imageId === imageId)[0]
      param.detailId = record.tevId
      param.type = 2
      param.creatorId = record.userId
      param.reviewerId = record.leaderId
      postAction(this.url.create, param)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('创建工单成功')
            } else {
              this.$message.error(res.data.msg)
            }
          })
          .finally(() => {
              this.loadData()
          })
    },


    changeActive(key) {
      this.key = key
      this.previewVisible = false
      this.selectedRowKeys = []
      this.fileNameList = []
      this.previewUrl = ''
      this.pagination.current = 1
      this.pagination.pageSize = 10
      if (key == '1') {
        this.url.pageVo = this.url.detailPageVo
        this.loadData()
      } else if (key == '2') {
        this.url.pageVo = this.url.tevPageVo
        this.loadData()
      }
    },

    loadData() {
      this.queryParam = this.tevQueryParam
      this.searchQuery()
    },

    loadReset() {
      this.tevQueryParam = {
        user: {},
        workLeader: {},
        device: {}
      }
      this.pagination = {
        current: 1,
        pageSize: 10,
        total: 0
      }
      this.loadData()
    },

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },


    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    handleCancel() {
      this.previewVisible = false
    },
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>