<template>
  <a-card title="曲线信息" style="height: 100vh;">
    <a-row :gutter="16">

      <a-col :span="6">
        <div class="input-group">
          <div class="label">业务ID：</div>
          <div class="input">
            <a-input
                placeholder="请输入业务ID"
                v-model="queryParam.detailId"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">账号名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入账号名称"
                v-model="queryParam.username"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择设备类型"
                v-model="queryParam.device.deviceType"
                style="width: 100%"
            >
              <a-select-option :value="0">开关柜</a-select-option>
              <a-select-option :value="1">变压器</a-select-option>
              <a-select-option :value="2">电缆</a-select-option>
              <a-select-option :value="3">其他</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">区局/供电所：</div>
          <div class="input">
            <a-input
                placeholder="请输入区局供电所"
                v-model="queryParam.powerSupplyStation"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">变电站名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入变电站名称"
                v-model="queryParam.substationName"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">馈线长度：</div>
          <div class="input">
            <a-input
                placeholder="请输入馈线长度"
                v-model="queryParam.feeder"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工作负责人：</div>
          <div class="input">
            <a-input
                placeholder="请输入工作负责人"
                v-model="queryParam.workLeaderName"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">巡检班组：</div>
          <div class="input">
            <a-input
                placeholder="请输入巡检班组"
                v-model="queryParam.inspectionTeam"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备名称"
                v-model="queryParam.device.deviceName"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">配电房名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入配电房名称"
                v-model="queryParam.distributionRoomName"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">最大温度：</div>
          <div class="input">
            <a-input
                placeholder="请输入最大温度"
                v-model="queryParam.maxTemp"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">采集时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="loadData"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="loadReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

          <a-button
              type="primary"
              @click="uploadData"
              icon="upload"
              style="margin-left: 8px"
          >
            上传数据
          </a-button>
        </div>
      </a-col>

    </a-row>

    <div style="margin-bottom: 16px">
      <a-button type="primary" :disabled="!hasSelected" :loading="loading" @click="start" icon="download">
        下载图片
      </a-button>
      <!--      <span style="margin-left: 8px">-->
      <!--        <template v-if="hasSelected">-->
      <!--          {{ `选中了 ${selectedRowKeys.length} 张图片` }}-->
      <!--        </template>-->
      <!--      </span>-->

      <span style="margin-left: 2px"></span>

      <a-popconfirm ok-text="Yes" cancel-text="No" @confirm="createWorkOrder">
        <template slot="title">
          <span>Are You Sure Create Work Order?</span>
        </template>
        <a-button
            type="primary"
            icon="upload"
            :disabled="!hasSelected"
            style="margin-left: 8px"
        >
          创建工单
        </a-button>
      </a-popconfirm>

    </div>


    <div>
      <a-table
          :columns="columns"
          :data-source="datasource"
          :loading="loading"
          :pagination="pagination"
          :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
          :rowKey="record => record.image.imageId.toString()"
          border
          size="middle"
          @change="handleTableChange"
      >
        <template #showImage="text,record">
          <div>
            <a-tooltip>
              <template #title>
                <span>点击预览</span>
              </template>
              <!-- 使用 img 标签来显示图片 -->
              <img
                  @click="openImage(record.previewUrl)"
                  :src="record.previewUrl"
                  shape="square"
                  style="width: 30px; height: 30px;"
              >
            </a-tooltip>
          </div>
        </template>
      </a-table>

      <div id="main" style="width: 100%; height: 400px; margin: 0 auto">
      </div>

    </div>

    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
      <img :src="previewUrl" alt="example" style="width: 100%">
    </a-modal>


  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import * as echarts from 'echarts'
import {downloadFile, postAction} from "@/components/api/action";

export default {
  name: "CurveInfo",
  mixins: [PubMixins],
  components : {
    echarts,
  },

  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },

  data() {
    return {
      selectedRowKeys: [],
      fileNameList: [],
      previewVisible : false,
      previewUrl : '',
      xAxisData: [],
      seriesData: [],
      nameData: [],
      queryParam : {
        device: {}
      },
      columns : [
        {
          title: "业务ID",
          dataIndex: "detailId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeaderName",
          align: "center"
        },
        {
          title: "馈线",
          dataIndex: "feeder",
          align: "center",
          customRender: (res) => {
            return res ? res + "号线" : "-"
          }
        },
        {
          title: "环境温度",
          dataIndex: "ambientTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "相对湿度",
          dataIndex: "relativeHumidity",
          align: "center",
          customRender: (res) => {
            return res ? res + "%" : "-"
          }
        },
        {
          title: "中心湿度",
          dataIndex: "centralHumidity",
          align: "center",
          customRender: (res) => {
            return res ? res + "%" : "-"
          }
        },
        {
          title: "最大温度",
          dataIndex: "maxTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "最小温度",
          dataIndex: "minTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "平均温度",
          dataIndex: "avgTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "反射温度",
          dataIndex: "reflectedTemp",
          align: "center",
          customRender: (res) => {
            return res ? res + "°C" : "-"
          }
        },
        {
          title: "采集时间",
          dataIndex: "createTime",
          align: "center",
        },
        {
          title: "采集图片",
          dataIndex: "image.imageId",
          align: "center",
          scopedSlots : {customRender : "showImage"}
        },
      ],
      url : {
        pageVo : "/detail/pageVo",
        charts : "detail/charts",
        downloadFile : "detail/downloadFile",
        create: "workOrder/create"
      }
    }
  },

  mounted() {
    this.chartsInfo()
  },

  methods : {

    uploadData() {
      this.$refs.uploadModal.visible = true
    },

    refreshData() {
      this.searchQuery()
    },

    createWorkOrder() {
      console.log('@@@ Image createWorkOrder', this.selectedRowKeys)
      let param = {}
      let imageId = this.selectedRowKeys[0]
      let record = this.datasource.filter(item => item.image.imageId === imageId)[0]
      console.log('@@@ record', record);
      param.detailId = record.detailId
      param.type = 1
      param.username = record.username
      param.reviewName = record.workLeaderName
      postAction(this.url.create, param)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('创建工单成功')
            } else {
              this.$message.error(res.data.msg)
            }
          })
          .finally(() => {
            this.searchQuery()
            this.chartsInfo()
          })
    },

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },


    start() {
      this.loadLoading = true;
      this.fileNameList = this.datasource
          .filter(record => this.selectedRowKeys.includes(record.image.imageId))
          .map(record => record.image.storageName)
      let param = { fileName: this.fileNameList[0] }; // Assuming you want to download the first file from fileNameList
      downloadFile(this.url.downloadFile, param) // Make sure to send the correct fileName
          .then(response => {
            const dispositionHeader = response.headers['content-disposition'];
            let fileName = 'downloaded_image.jpg'; // 默认下载的文件名

            if (dispositionHeader) {
              const match = dispositionHeader.match(/filename=([^;]+)/);
              if (match) {
                fileName = decodeURIComponent(match[1].trim());
              }
            }

            const url = window.URL.createObjectURL(new Blob([response.data]));

            // 创建下载链接
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', fileName);
            link.setAttribute('aria-label', fileName);
            link.setAttribute('title', fileName);

            document.body.appendChild(link);
            link.click();

            // 清理创建的链接
            document.body.removeChild(link);
          })
          .catch(error => {
            console.error('Error downloading image:', error);
          });
    },


    loadReset() {
      this.searchReset()
      this.chartsInfo()
    },

    loadData() {
      this.searchQuery()
      this.chartsInfo()
    },

    chartsInfo() {
      this.queryParam.current = this.pagination.current
      this.queryParam.pageSize = this.pagination.pageSize
      postAction(this.url.charts, JSON.stringify(this.queryParam)).then(res => {
        if (res.data.code == 0) {
          this.xAxisData = res.data.data.categories
          this.seriesData = res.data.data.seriesDataList
          this.nameData = this.seriesData.map(data => data.name)
          this.renderChart()
        }
      })
    },

    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    handleCancel() {
      this.previewVisible = false
    },

    renderChart() {
      // 创建图表实例
      const chart = echarts.init(document.getElementById('main'));

      // 渐变色数组
      const gradientColors = [
        ['#3e98c7', '#82bef6'],
        ['#5eb95e', '#a2d68f'],
        ['#e74c3c', '#f1948a'],
        ['#f39c12', '#f7bc76'],
        ['#8e44ad', '#bb8fce'],
        ['#f1c40f', '#f7dc6f'],
        ['#e84393', '#f0a3c9']
      ];

      // 配置图表选项
      const options = {
        title: {
          text: 'Temp Line'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: this.seriesData.map(item => item.name)
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: this.xAxisData
        },
        yAxis: {
          type: 'value',
        },
        series: this.seriesData.map((item, index) => {
          return {
            name: item.name,
            type: 'line',
            stack: 'Total',
            smooth: true, // 设置曲线平滑
            // areaStyle: {
            //   color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            //     { offset: 0, color: gradientColors[index][0] },
            //     { offset: 1, color: gradientColors[index][1] }
            //   ])
            // }, // 设置面积渐变
            data: item.data
          };
        })
      };

      // 使用配置项渲染图表
      chart.setOption(options);
    }
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>