<template>
  <div class="image-container">
    <div><img src="@/assets/svg/ele.svg" alt="Ele Icon" /></div>
    <div style="font-size: 32px; font-weight: bold">配电设备巡检系统</div>
  </div>
</template>

<script>
export default {
  name: "DefaultPage"
}
</script>

<style scoped>
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 设置父级容器的高度为视口高度 */
}
.image-container img {
  width: 300px;
  height: 300px;
}
</style>