<template>
  <div>
    <a-card title="文本及图像信息" style="height: 100vh;">
      <a-row :gutter="16">

        <a-col :span="6">
          <div class="input-group">
            <div class="label">业务ID：</div>
            <div class="input">
              <a-input
                  placeholder="请输入业务ID"
                  v-model="queryParam.detailId"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">账号名称：</div>
            <div class="input">
              <a-input
                  placeholder="请输入账号名称"
                  v-model="queryParam.username"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">设备类型：</div>
            <div class="input">
              <a-select
                  placeholder="请选择设备类型"
                  v-model="queryParam.device.deviceType"
                  style="width: 100%"
              >
                <a-select-option :value="0">开关柜</a-select-option>
                <a-select-option :value="1">变压器</a-select-option>
                <a-select-option :value="2">电缆</a-select-option>
                <a-select-option :value="3">其他</a-select-option>
              </a-select>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">区局/供电所：</div>
            <div class="input">
              <a-input
                  placeholder="请输入区局供电所"
                  v-model="queryParam.powerSupplyStation"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="6">
          <div class="input-group">
            <div class="label">变电站名称：</div>
            <div class="input">
              <a-input
                  placeholder="请输入变电站名称"
                  v-model="queryParam.substationName"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">馈线长度：</div>
            <div class="input">
              <a-input
                  placeholder="请输入馈线长度"
                  v-model="queryParam.feeder"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">工作负责人：</div>
            <div class="input">
              <a-input
                  placeholder="请输入工作负责人"
                  v-model="queryParam.workLeaderName"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">巡检班组：</div>
            <div class="input">
              <a-input
                  placeholder="请输入巡检班组"
                  v-model="queryParam.inspectionTeam"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>
      </a-row>

      <a-row :gutter="16">
        <a-col :span="6">
          <div class="input-group">
            <div class="label">设备名称：</div>
            <div class="input">
              <a-input
                  placeholder="请输入设备名称"
                  v-model="queryParam.device.deviceName"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">配电房名称：</div>
            <div class="input">
              <a-input
                  placeholder="请输入配电房名称"
                  v-model="queryParam.distributionRoomName"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">最大温度：</div>
            <div class="input">
              <a-input
                  placeholder="请输入最大温度"
                  v-model="queryParam.maxTemp"
                  @keyup.enter.native="searchQuery"
              ></a-input>
            </div>
          </div>
        </a-col>

        <a-col :span="6">
          <div class="input-group">
            <div class="label">采集时间：</div>
            <div class="input">
              <a-range-picker
                  format="YYYY-MM-DD HH:mm:ss"
                  v-model="queryParam.dateRange"
                  style="width: 100%"
              />
            </div>
          </div>
        </a-col>
      </a-row>

      <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
        <a-col :span="6">
          <div class="input-group">
            <a-button
                type="primary"
                @click="searchQuery"
                icon="search"
            >
              查询
            </a-button>

            <a-button
                type="primary"
                @click="searchReset"
                icon="reload"
                style="margin-left: 8px"
            >
              重置
            </a-button>

          </div>
        </a-col>

      </a-row>

      <a-table
          :columns="columns"
          :data-source="datasource"
          :loading="loading"
          :pagination="pagination"
          rowKey="detailId"
          border
          size="middle"
          @change="handleTableChange"
      >
        <template #showImage="text,record">
          <div>
            <a-tooltip>
              <template #title>
                <span>点击预览</span>
              </template>
              <!-- 使用 img 标签来显示图片 -->
              <img
                  @click="openImage(record.previewUrl)"
                  :src="record.previewUrl"
                  shape="square"
                  style="width: 30px; height: 30px;"
              >
            </a-tooltip>
          </div>
        </template>
      </a-table>
    </a-card>

    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
      <img :src="previewUrl" alt="example" style="width: 100%">
    </a-modal>
  </div>

</template>

<script>
import moment from "moment";
import {PubMixins} from "@/components/mixins/PubMixins";

export default {
  name: "DetailInfo",
  components: {},
  mixins: [PubMixins],
  data() {
    return {
      previewVisible : false,
      previewUrl : '',
      loading : false,
      queryParam : {
        device: {}
      },
      datasource : [],
      pagination : {
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: (total, range) => {
          return range[0] + "-" + range[1] + '总共' + total + '条';
        },
      },
      columns : [
        {
          title: "业务ID",
          dataIndex: "detailId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeaderName",
          align: "center"
        },
        {
          title: "区局/供电局",
          dataIndex: "powerSupplyStation",
          align: "center"
        },
        {
          title: "变电站名称",
          dataIndex: "substationName",
          align: "center"
        },
        {
          title: "馈线长度",
          dataIndex: "feeder",
          align: "center",
          customRender: (res) => {
            return res ? res + "号线" : "-"
          }
        },
        {
          title: "配电房名称",
          dataIndex: "distributionRoomName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "巡检班组",
          dataIndex: "inspectionTeam",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备名称",
          dataIndex: "device.deviceName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备类型",
          dataIndex: "device.deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = ''
            }
            return result
          }
        },
        {
          title: "采集时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "图像",
          dataIndex: "image",
          align: "center",
          scopedSlots: {customRender : "showImage"}
        },
      ],
      url : {
        pageVo : "/detail/pageVo"
      }
    }
  },

  mounted() {
    this.searchQuery();
  },

  methods: {
    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    handleCancel() {
      this.previewVisible = false
    },
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>