<template>
  <a-card title="设备信息" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备名称"
                v-model="queryParam.deviceName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择设备类型"
                v-model="queryParam.deviceType"
                style="width: 100%"
            >
              <a-select-option :value="0">开关柜</a-select-option>
              <a-select-option :value="1">变压器</a-select-option>
              <a-select-option :value="2">电缆</a-select-option>
              <a-select-option :value="3">其他</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>


      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

        </div>
      </a-col>

    </a-row>


    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        rowKey="detailId"
        border
        size="middle"
        @change="handleTableChange"
    >
    </a-table>

  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";

export default {
  name: "DeviceInfo",

  mixins: [PubMixins],

  data() {
    return {
      columns: [
        {
          title: "设备名称",
          dataIndex: "deviceName",
          align: "center"
        },
        {
          title: "设备类型",
          dataIndex: "deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "更新时间",
          dataIndex: "updateTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
      ],
      url: {
        pageVo: "device/pageVo",
      }

    }
  },

  methods: {

  },
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>