<template>
  <a-card title="钉钉群信息" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">钉钉群名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入钉钉群名称"
                v-model="queryParam.messageName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">钉钉群备注：</div>
          <div class="input">
            <a-input
                placeholder="请选择钉钉群备注"
                v-model="queryParam.messageMemo"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>


      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

        </div>
      </a-col>

    </a-row>


    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        rowKey="detailId"
        border
        size="middle"
        @change="handleTableChange"
    >
    </a-table>

  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";

export default {
  name: "DingWarningInfo",

  mixins: [PubMixins],

  data() {
    return {
      columns: [
        {
          title: "钉钉群名称",
          dataIndex: "messageName",
          align: "center"
        },
        {
          title: "钉钉群URL",
          dataIndex: "messageUrl",
          align: "center",
          width: "40%",
        },
        {
          title: "钉钉群备注",
          dataIndex: "messageMemo",
          align: "center"
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "更新时间",
          dataIndex: "updateTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
      ],
      url: {
        pageVo: "messageWarning/pageVo",
      }

    }
  },

  methods: {

  },
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>