<template>
  <a-card title="发送预警记录" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">钉钉群名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入钉钉群名称"
                v-model="queryParam.messageName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">钉钉群备注：</div>
          <div class="input">
            <a-input
                placeholder="请选择钉钉群备注"
                v-model="queryParam.messageMemo"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工单类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择工单状态"
                v-model="queryParam.messageType"
                style="width: 100%"
            >
              <a-select-option :value="1">红外图像</a-select-option>
              <a-select-option :value="2">局部TEV</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">业务ID：</div>
          <div class="input">
            <a-input
                placeholder="请输入业务ID"
                v-model="queryParam.messageBizId"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">

      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

        </div>
      </a-col>
    </a-row>


    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        rowKey="detailId"
        border
        size="middle"
        @change="handleTableChange"
    >
      <span slot="action" slot-scope="text, record">
        <a @click="catContent(record)">查看消息内容</a>
      </span>
    </a-table>

    <a-modal
        :visible="visible"
        title="查看发送内容"
        :footer="null"
        width="60%"
        @cancel="handleCancel">
      <div v-html="record.messageContent" style="font-size: 18px; font-weight: bold"></div>
    </a-modal>

  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";

export default {
  name: "DingWarningRecord",

  mixins: [PubMixins],

  data() {
    return {
      visible: false,
      record: {},
      url: {
        pageVo: "/messageWarningRecord/pageVo",
      },
      columns : [
        {
          title: "工单类型",
          dataIndex: "messageType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 1) {
              result = '红外图像'
            } else if (text == 2) {
              result = '局部TEV'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "预警业务ID",
          dataIndex: "messageBizId",
          align: "center"
        },
        {
          title: "发送钉钉群备注",
          dataIndex: "messageMemo",
          align: "center"
        },
        {
          title: "发送钉钉群名称",
          dataIndex: "messageName",
          align: "center"
        },
        {
          title: "发送钉钉群资源路径",
          dataIndex: "messageUrl",
          align: "center"
        },
        {
          title: "发送时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "操作",
          align: "center",
          scopedSlots: { customRender: 'action' },
        },
      ],
    }
  },

  methods: {
    handleCancel() {
      this.visible = false
    },

    catContent(record) {
      this.record = record
      this.visible = true
    }
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>