<template>
  <a-card title="图像信息" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">账号名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入账号名称"
                v-model="queryParam.username"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备ID：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备ID"
                v-model="queryParam.device.deviceId"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择设备类型"
                v-model="queryParam.device.deviceType"
                style="width: 100%"
            >
              <a-select-option :value="0">开关柜</a-select-option>
              <a-select-option :value="1">变压器</a-select-option>
              <a-select-option :value="2">电缆</a-select-option>
              <a-select-option :value="3">其他</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">区局/供电所：</div>
          <div class="input">
            <a-input
                placeholder="请输入区局供电所"
                v-model="queryParam.powerSupplyStation"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">变电站名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入变电站名称"
                v-model="queryParam.substationName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">馈线长度：</div>
          <div class="input">
            <a-input
                placeholder="请输入馈线长度"
                v-model="queryParam.feeder"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工作负责人：</div>
          <div class="input">
            <a-input
                placeholder="请输入工作负责人"
                v-model="queryParam.workLeaderName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">巡检班组：</div>
          <div class="input">
            <a-input
                placeholder="请输入巡检班组"
                v-model="queryParam.inspectionTeam"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备名称"
                v-model="queryParam.device.deviceName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">配电房名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入配电房名称"
                v-model="queryParam.distributionRoomName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">最大温度：</div>
          <div class="input">
            <a-input
                placeholder="请输入最大温度"
                v-model="queryParam.maxTemp"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">采集时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>
    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>
        </div>
      </a-col>

    </a-row>

    <div style="margin-bottom: 16px">
      <a-button type="primary" :disabled="!hasSelected" :loading="loading" @click="start" icon="download">
        下载图片
      </a-button>
<!--      <span style="margin-left: 8px">-->
<!--        <template v-if="hasSelected">-->
<!--          {{ `选中了 ${selectedRowKeys.length} 张图片` }}-->
<!--        </template>-->
<!--      </span>-->

      <span style="margin-left: 2px"></span>

      <a-button
          type="primary"
          @click="createWorkOrder"
          icon="upload"
          :disabled="!hasSelected"
          style="margin-left: 8px"
      >
        创建工单
      </a-button>
    </div>

    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
        :rowKey="record => record.image.imageId.toString()"
        border
        size="middle"
        @change="handleTableChange"
    >
      <template #showImage="text,record">
        <div>
          <a-tooltip>
            <template #title>
              <span>点击预览</span>
            </template>
            <!-- 使用 img 标签来显示图片 -->
            <img
                @click="openImage(record.previewUrl)"
                :src="record.previewUrl"
                shape="square"
                style="width: 30px; height: 30px;"
            >
          </a-tooltip>
        </div>
      </template>
    </a-table>
    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
      <img :src="previewUrl" alt="example" style="width: 100%">
    </a-modal>
  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";
import {downloadFile, instance, postAction, postForm} from "@/components/api/action";
import axios from "axios";

export default {
  name: "ImageInfo",
  mixins: [PubMixins],

  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },

  data() {
    return {
      previewVisible : false,
      previewUrl : '',
      loadLoading: false,
      selectedRowKeys: [],
      fileNameList: [],
      queryParam : {
        device: {}
      },
      url : {
        pageVo : "/detail/pageVo",
        downloadInfo : "detail/download",
        downloadFile : "detail/downloadFile",
        create: "workOrder/create"
      },
      columns: [
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeaderName",
          align: "center"
        },
        {
          title: "采集图片",
          dataIndex: "image.imageId",
          align: "center",
          scopedSlots : {customRender : "showImage"}
        },
        {
          title: "采集时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
      ]
    }
  },

  methods: {
    createWorkOrder() {
      console.log('@@@ Image createWorkOrder', this.selectedRowKeys)
      let param = {}
      let imageId = this.selectedRowKeys[0]
      let record = this.datasource.filter(item => item.image.imageId === imageId)[0]
      console.log('@@@ record', record);
      param.detailId = record.detailId
      param.type = 1
      param.username = record.username
      param.reviewName = record.workLeaderName
      postAction(this.url.create, param)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('创建工单成功')
            }
          })
    },


    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    handleCancel() {
      this.previewVisible = false
    },

    start() {
      this.loadLoading = true;
      this.fileNameList = this.datasource
          .filter(record => this.selectedRowKeys.includes(record.image.imageId))
          .map(record => record.image.storageName)
      let param = { fileName: this.fileNameList[0] }; // Assuming you want to download the first file from fileNameList
      downloadFile(this.url.downloadFile, param) // Make sure to send the correct fileName
          .then(response => {
            const dispositionHeader = response.headers['content-disposition'];
            let fileName = 'downloaded_image.jpg'; // 默认下载的文件名

            if (dispositionHeader) {
              const match = dispositionHeader.match(/filename=([^;]+)/);
              if (match) {
                fileName = decodeURIComponent(match[1].trim());
              }
            }

            const url = window.URL.createObjectURL(new Blob([response.data]));

            // 创建下载链接
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', fileName);
            link.setAttribute('aria-label', fileName);
            link.setAttribute('title', fileName);

            document.body.appendChild(link);
            link.click();

            // 清理创建的链接
            document.body.removeChild(link);
          })
          .catch(error => {
            console.error('Error downloading image:', error);
          });
    },

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>