<template>
  <a-card title="局放TEV图像信息" style="height: 100vh;">
    <a-row :gutter="16">

      <a-col :span="6">
        <div class="input-group">
          <div class="label">业务ID：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备ID"
                v-model="queryParam.tevId"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">账号名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入账号名称"
                v-model="queryParam.user.username"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工作负责人：</div>
          <div class="input">
            <a-input
                placeholder="请输入工作负责人"
                v-model="queryParam.workLeader.username"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择设备类型"
                v-model="queryParam.device.deviceType"
                style="width: 100%"
            >
              <a-select-option :value="0">开关柜</a-select-option>
              <a-select-option :value="1">变压器</a-select-option>
              <a-select-option :value="2">电缆</a-select-option>
              <a-select-option :value="3">其他</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">设备名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入设备名称"
                v-model="queryParam.device.deviceName"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">TEV有效值：</div>
          <div class="input">
            <a-input
                placeholder="请输入TEV有效值"
                v-model="queryParam.quasiPeakValue"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">TEV最大值：</div>
          <div class="input">
            <a-input
                placeholder="请输入TEV最大值"
                v-model="queryParam.maxValue"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">TEV最小值：</div>
          <div class="input">
            <a-input
                placeholder="请输入TEV最小值"
                v-model="queryParam.minValue"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16">

      <a-col :span="6">
        <div class="input-group">
          <div class="label">极性：</div>
          <div class="input">
            <a-select
                placeholder="请选择极性"
                v-model="queryParam.polarity"
                style="width: 100%"
            >
              <a-select-option :value="0">负极性</a-select-option>
              <a-select-option :value="1">正极性</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">TEV频率：</div>
          <div class="input">
            <a-input
                placeholder="请输入TEV频率"
                v-model="queryParam.repetitionRate"
                @keyup.enter.native="loadData"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">采集时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.occurrenceTimeRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="loadData"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="loadReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

          <a-button
              type="primary"
              @click="uploadData"
              icon="upload"
              style="margin-left: 8px"
          >
            上传TEV数据
          </a-button>
        </div>
      </a-col>
    </a-row>

    <div style="margin-bottom: 16px">
      <a-button type="primary" :disabled="!hasSelected" :loading="loading" @click="start" icon="download">
        下载图片
      </a-button>
<!--      <span style="margin-left: 8px">-->
<!--        <template v-if="hasSelected">-->
<!--          {{ `选中了 ${selectedRowKeys.length} 张图片` }}-->
<!--        </template>-->
<!--      </span>-->

      <span style="margin-left: 2px"></span>

      <a-popconfirm ok-text="Yes" cancel-text="No" @confirm="createWorkOrder">
        <template slot="title">
          <span>Are You Sure Create Work Order?</span>
        </template>
        <a-button
            type="primary"
            icon="upload"
            :disabled="!hasSelected"
            style="margin-left: 8px"
        >
          创建工单
        </a-button>
      </a-popconfirm>

<!--      <a-button-->
<!--          type="primary"-->
<!--          @click="createWorkOrder"-->
<!--          icon="upload"-->
<!--          :disabled="!hasSelected"-->
<!--          style="margin-left: 8px"-->
<!--      >-->
<!--        创建工单-->
<!--      </a-button>-->
    </div>

    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        :rowKey="record => record.imageId.toString()"
        :row-selection="{ type: 'radio', selectedRowKeys: selectedRowKeys, onChange: onSelectChange }"
        border
        size="middle"
        @change="handleTableChange"
    >
      <template #showImage="text,record">
        <div>
          <a-tooltip>
            <template #title>
              <span>点击预览</span>
            </template>
            <!-- 使用 img 标签来显示图片 -->
            <img
                @click="openImage(record.previewUrl)"
                :src="record.previewUrl"
                shape="square"
                style="width: 30px; height: 30px;"
            >
          </a-tooltip>
        </div>
      </template>
    </a-table>
    <div id="main" style="width: 100%; height: 400px; margin: 0 auto">
    </div>

    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel" width="50%">
      <img :src="previewUrl" alt="example" style="width: 100%">
    </a-modal>

  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";
import {downloadFile, postAction} from "@/components/api/action";
import * as echarts from "echarts";

export default {
  name: "TevImageInfo",

  mixins: [PubMixins],

  data() {
    return {
      fileNameList: [],
      previewUrl: "",
      selectedRowKeys: [],
      previewVisible: false,
      queryParam: {
        device: {},
        user: {},
        workLeader: {}
      },
      url: {
        pageVo: "/tev/pageVo",
        downloadFile : "detail/downloadFile",
        charts : "tev/charts",
        create: "workOrder/create"
      },
      columns : [
        {
          title: "业务ID",
          dataIndex: "tevId",
          align: "center"
        },
        {
          title: "用户名称",
          dataIndex: "user.username",
          align: "center"
        },
        {
          title: "工作负责人",
          dataIndex: "workLeader.username",
          align: "center"
        },
        {
          title: "设备名称",
          dataIndex: "device.deviceName",
          align: "center",
          customRender: (res) => {
            return res ? res : "-"
          }
        },
        {
          title: "设备类型",
          dataIndex: "device.deviceType",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '开关柜'
            } else if (text == 1) {
              result = '变压器'
            } else if (text == 2) {
              result = '电缆'
            } else if (text == 3) {
              result = '其他'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "极性",
          dataIndex: "polarity",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 1) {
              result = '正极性'
            } else if (text == 0) {
              result = '负极性'
            } else {
              result = ''
            }
            return result
          }
        },
        {
          title: "频率",
          dataIndex: "repetitionRate",
          align: "center",
          customRender: (res) => {
            return res ? res + "Hz" : "-"
          }
        },
        {
          title: "局部TEV有效值",
          dataIndex: "quasiPeakValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "局部TEV最大值",
          dataIndex: "maxValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "局部TEV最小值",
          dataIndex: "minValue",
          align: "center",
          customRender: (res) => {
            return res ? res + "mV" : "-"
          }
        },
        {
          title: "TEV采集时间",
          dataIndex: "occurrenceTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "图像",
          dataIndex: "image",
          align: "center",
          scopedSlots: {customRender : "showImage"}
        },
      ],
    }
  },

  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },

  mounted() {
    this.chartsInfo()
  },

  methods: {
    loadReset() {
      this.searchReset()
      this.chartsInfo()
    },

    loadData() {
      this.searchQuery()
      this.chartsInfo()
    },

    createWorkOrder() {
      console.log('@@@ createWorkOrder', this.selectedRowKeys)
      let param = {}
      let imageId = this.selectedRowKeys[0]
      let record = this.datasource.filter(item => item.image.imageId === imageId)[0]
      param.detailId = record.tevId
      param.type = 2
      param.creatorId = record.userId
      param.reviewerId = record.leaderId
      postAction(this.url.create, param)
          .then(res => {
            if (res.data.code == 0) {
              this.$message.success('创建工单成功')
            } else {
              this.$message.error(res.data.msg)
            }
          })
          .finally(() => {
            this.loadData()
          })
    },


    refreshData() {
      this.searchQuery()
    },


    chartsInfo() {
      this.queryParam.current = this.pagination.current
      this.queryParam.pageSize = this.pagination.pageSize
      postAction(this.url.charts, JSON.stringify(this.queryParam)).then(res => {
        if (res.data.code == 0) {
          this.xAxisData = res.data.data.categories
          this.seriesData = res.data.data.seriesDataList
          this.nameData = this.seriesData.map(data => data.name)
          this.renderChart()
        }
      })
    },

    renderChart() {
      // 创建图表实例
      const chart = echarts.init(document.getElementById('main'));

      // 渐变色数组
      const gradientColors = [
        ['#3e98c7', '#82bef6'],
        ['#5eb95e', '#a2d68f'],
        ['#e74c3c', '#f1948a'],
        ['#f39c12', '#f7bc76'],
        ['#8e44ad', '#bb8fce'],
      ];

      // 配置图表选项
      const options = {
        title: {
          text: 'TEV Line'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: this.seriesData.map(item => item.name)
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: this.xAxisData
        },
        yAxis: {
          type: 'value',
        },
        series: this.seriesData.map((item, index) => {
          return {
            name: item.name,
            type: 'line',
            stack: 'Total',
            smooth: true, // 设置曲线平滑
            // areaStyle: {
            //   color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            //     { offset: 0, color: gradientColors[index][0] },
            //     { offset: 1, color: gradientColors[index][1] }
            //   ])
            // }, // 设置面积渐变
            data: item.data
          };
        })
      };

      // 使用配置项渲染图表
      chart.setOption(options);
    },

    uploadData() {
      this.$refs.uploadTev.visible = true
    },

    start() {
      this.loadLoading = true;
      this.fileNameList = this.datasource
          .filter(record => this.selectedRowKeys.includes(record.imageId))
          .map(record => record.image.storageName)
      let param = { fileName: this.fileNameList[0] }; // Assuming you want to download the first file from fileNameList
      console.log('@param', param);
      downloadFile(this.url.downloadFile, param) // Make sure to send the correct fileName
          .then(response => {
            const dispositionHeader = response.headers['content-disposition'];
            let fileName = 'downloaded_image.jpg'; // 默认下载的文件名

            if (dispositionHeader) {
              const match = dispositionHeader.match(/filename=([^;]+)/);
              if (match) {
                fileName = decodeURIComponent(match[1].trim());
              }
            }

            const url = window.URL.createObjectURL(new Blob([response.data]));

            // 创建下载链接
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', fileName);
            link.setAttribute('aria-label', fileName);
            link.setAttribute('title', fileName);

            document.body.appendChild(link);
            link.click();

            // 清理创建的链接
            document.body.removeChild(link);
          })
          .catch(error => {
            console.error('Error downloading image:', error);
          });
    },

    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },

    openImage(url) {
      console.log(url)
      this.previewUrl = url
      this.previewVisible = true
    },

    handleCancel() {
      this.previewVisible = false
    },
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>