<template>
  <a-card title="用户信息" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">用户名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入账号名称"
                v-model="queryParam.username"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">性别：</div>
          <div class="input">
            <a-select
                placeholder="请选择性别"
                v-model="queryParam.sex"
                style="width: 100%"
            >
              <a-select-option :value="0">女</a-select-option>
              <a-select-option :value="1">男</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">邮箱地址：</div>
          <div class="input">
            <a-input
                placeholder="请输入邮箱地址"
                v-model="queryParam.email"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">
      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

        </div>
      </a-col>
    </a-row>

    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        rowKey="detailId"
        border
        size="middle"
        @change="handleTableChange"
    >
    </a-table>

  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";

export default {
  name: "UserInfo",
  mixins: [PubMixins],

  data() {
    return {
      columns: [
        {
          title: "用户名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "性别",
          dataIndex: "sex",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 0) {
              result = '女'
            } else if (text == 1) {
              result = '男'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "邮箱地址",
          dataIndex: "email",
          align: "center"
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "更新时间",
          dataIndex: "updateTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
      ],
      url: {
        pageVo: "user/pageVo",
      }

    }
  },

  methods: {

  },


}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>