<template>
  <a-card title="局放TEV图像信息" style="height: 100vh;">
    <a-row :gutter="16">
      <a-col :span="6">
        <div class="input-group">
          <div class="label">采集人名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入采集人名称"
                v-model="queryParam.username"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">领导名称：</div>
          <div class="input">
            <a-input
                placeholder="请输入采集人领导名称"
                v-model="queryParam.reviewName"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工单状态：</div>
          <div class="input">
            <a-select
                placeholder="请选择工单状态"
                v-model="queryParam.status"
                style="width: 100%"
            >
              <a-select-option :value="1">新建</a-select-option>
              <a-select-option :value="2">审核中</a-select-option>
              <a-select-option :value="3">审核通过</a-select-option>
              <a-select-option :value="4">审核不通过</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">工单类型：</div>
          <div class="input">
            <a-select
                placeholder="请选择工单状态"
                v-model="queryParam.type"
                style="width: 100%"
            >
              <a-select-option :value="1">红外图像</a-select-option>
              <a-select-option :value="2">局部TEV</a-select-option>
            </a-select>
          </div>
        </div>
      </a-col>

    </a-row>

    <a-row :gutter="16" style="margin-top: 10px; margin-bottom: 10px">

      <a-col :span="6">
        <div class="input-group">
          <div class="label">业务ID：</div>
          <div class="input">
            <a-input
                placeholder="请输入业务ID"
                v-model="queryParam.detailId"
                @keyup.enter.native="searchQuery"
            ></a-input>
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <div class="label">创建时间：</div>
          <div class="input">
            <a-range-picker
                format="YYYY-MM-DD HH:mm:ss"
                v-model="queryParam.dateRange"
                style="width: 100%"
            />
          </div>
        </div>
      </a-col>

      <a-col :span="6">
        <div class="input-group">
          <a-button
              type="primary"
              @click="searchQuery"
              icon="search"
          >
            查询
          </a-button>

          <a-button
              type="primary"
              @click="searchReset"
              icon="reload"
              style="margin-left: 8px"
          >
            重置
          </a-button>

        </div>
      </a-col>
    </a-row>

    <a-table
        :columns="columns"
        :data-source="datasource"
        :loading="loading"
        :pagination="pagination"
        rowKey="detailId"
        border
        size="middle"
        @change="handleTableChange"
    >
      <span slot="renderStatus" slot-scope="text">
        <a-tag
            :color="text === 1 ? 'volcano' : text === 2 ? 'geekblue' : text === 3 ? 'green' : 'red'"
        >
          {{ text == 1 ? '刚创建' : text == 2 ? '审核中' : text == 3 ? '审核通过' : '审核不通过' }}
        </a-tag>
      </span>

      <span slot="action" slot-scope="text, record">
        <a @click.prevent="openDetail(record)">审核详情</a>
      </span>
    </a-table>

    <work-order-modal ref="workOrderDetail" @refreshData="refreshData"></work-order-modal>
  </a-card>
</template>

<script>
import {PubMixins} from "@/components/mixins/PubMixins";
import moment from "moment";
import WorkOrderModal from "@/components/views/info/modal/WorkOrderModal";

export default {
  name: "WorkOrder",
  components: {WorkOrderModal},
  mixins: [PubMixins],

  data() {
    return {
      url: {
        pageVo: "/workOrder/pageVo",
        detail: "/workOrder/detail"
      },
      columns : [
        {
          title: "采集人名称",
          dataIndex: "username",
          align: "center"
        },
        {
          title: "采集人领导名称",
          dataIndex: "reviewName",
          align: "center"
        },
        {
          title: "工单类型",
          dataIndex: "type",
          align: "center",
          customRender: (text) => {
            let result = ''
            if (text == 1) {
              result = '红外图像'
            } else if (text == 2) {
              result = '局部TEV'
            } else {
              result = '-'
            }
            return result
          }
        },
        {
          title: "业务ID",
          dataIndex: "detailId",
          align: "center"
        },
        {
          title: "审核状态",
          dataIndex: "status",
          align: "center",
          scopedSlots: { customRender: 'renderStatus' },
        },
        {
          title: "创建时间",
          dataIndex: "createTime",
          align: "center",
          customRender: (text) => {
            return moment(text).format("YYYY-MM-DD HH:mm:ss")
          }
        },
        {
          title: "操作",
          align: "center",
          scopedSlots: { customRender: 'action' },
        },
      ],
    }
  },

  methods: {
    openDetail(record) {
      this.$refs.workOrderDetail.visible = true
      this.$refs.workOrderDetail.record = record
      console.log('@@@ openDetail:', this.$refs.workOrderDetail.record)
      this.$refs.workOrderDetail.detailInfo()
    },

    refreshData() {
      console.log('@@@ work order 子组件调用父组件')
      this.searchQuery()
    },
  }
}
</script>

<style scoped>
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 90px;
}

.input {
  flex: 1;
}
</style>